.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* fix firefox can't set height smaller than content on flex item */
  min-height: 0;
  background: #f0f2f5;
}
.logo{

 width: 150px;
}
.logoarea{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.itemmenu{
  width: 2000px;
}
.titulo{
  color: aliceblue;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}




